body {
    font-family: sans-serif;
}

#eps_app {
    max-width: 800px;
    margin: 20px auto;
}

.page {
    border: 1px solid #333;
}

div.card {
    border-top: 4px dotted #333;
}

.pageForm input {
    width: 95%;
}

.pageForm textarea {
    width: 95%;
    height: 250px;
}

.pageForm .title {
    font-size: 26px;
}
